@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@800&display=swap');
h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 58px;
    line-height: 71px;
    color: #595858;
}

.tela {
    position: absolute;
    width: 1201px;
    height: 1024px;
    left: 700px;
    top: 0px;
    background: #F5E9DD;
}

.imgTela {
    position: absolute;
    width: 170.68px;
    height: 100px;
    left: 1680px;
    top: 58px
}

h1 {
    position: absolute;
    width: 368px;
    height: 95px;
    left: 131px;
    top: 100px;
    font-style: normal;
    font-weight: 800;
    font-size: 58px;
    line-height: 71px;
    color: #595858;
}

.imgBody {
    position: absolute;
    width: 606px;
    height: 634px;
    left: 950px;
    top: 195px;
}

.input-box {
    display: block;
    flex-direction: column;
    margin-bottom: 1.1rem;
    position: relative;
    top: 311px;
    left: 100px;
    height: 600px;
    width: 600px;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 1.5rem 1.2rem;
    width: 68%;
    border: none;
    box-shadow: 1px 1px 6px #0000001c;
    background-color: #4141411c;
}

.input-box input:hover {
    background-color: #4141411c;
}

.input-box input:focus-visible {
    outline: 0.5px solid #F5E9DD;
}

.input-box input::placeholder {
    color: #695e6d;
    font-size: 20px;
}

.senha {
    display: block;
    flex-direction: column;
    margin-bottom: 1.1rem;
    position: relative;
    top: 10px;
    left: 100px;
    height: 600px;
    width: 600px;
}

.senha input {
    margin: 0.6rem 0;
    padding: 1.5rem 1.2rem;
    width: 68%;
    border: none;
    box-shadow: 1px 1px 6px #0000001c;
    background-color: #4141411c;
}

.senha input:hover {
    background-color: #4141411c;
}

.senha input:focus-visible {
    outline: 0.5px solid #F5E9DD;
}

.senha input::placeholder {
    color: #695e6d;
    font-size: 20px;
}